# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 534a7f8906bd7e6b75f722b16a890b9ce1ded990ef172ea5ea3669ff59fe79514e0a313b4c95b7ed4bb1c997f6898e5cedec2303b423d40ced09e3502ec7a760

test:
  secret_key_base: 96914d5a6313e9c1a656673c7b009085c2fe3d4d2209fc86d50c060789437c39269e25487b8e79cd8ae63846fbc27dbe8e3a9d7f0e91fe348627d0a13a5a6afd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
